$def with (page)

<html>
<head>
    $if page.has_key('title'):
        <title>$page.title</title>
    $else:
        <title>My Wiki</title>
    <style type="text/css">
#nav {
    font: 15px verdana,'Bitstream Vera Sans',helvetica,arial,sans-serif;
    float: right;
    width: 100%;
    border-width: thin;
    border-style: solid
}
#nav ul {
    list-style: none outside none;
}

#nav li {
    display: inline;
    padding-right: 20px;
}

#content1 {
    float: right;
}

    </style>
</head>
<body>

<div id="nav">
<div id="content1">
<ul>
        $if context.login == 1:
            <li width=100>logged in as $context.username</li>
            <li width=100><a href="/logout">Logout</a></li>
        <li width=100><a href="/wiki">Wiki</a></li>
        <li width=100><a href="/wiki/new">New Wiki</a></li>
        <li width=100><a href="/ticket">Ticket</a></li>
        <li width=100><a href="/ticket/new">New Ticket</a></li>
</ul>
</div>
</div>

$:page

</body>
</html>
