$def with (users)

<style type="text/css">

div li {
    display: inline;
    padding-right: 20px;
}

table {
    width: 100%;
    border: solid 1px #666;
    border-collapse: separate;
    background-color:#DDDDDD;
    min-width:220px;
}

.striped {
    background-color: gray;
}

</style>

<script type="text/javascript" src="/static/js/jquery-1.4.4.min.js">
</script>

<script type="text/javascript">

$$(document).ready(
    function() {
        $$("table tr:nth-child(even)").addClass("striped");
    }
);

</script>

<li><a href="/user/new">新增用户</a></li>
<li>用户列表:</li>

<table>
    <tr>
        <td>用户名</td>
        <td>邮箱</td>
        <td>是否超级用户</td>
        <td>新增wiki</td>
        <td>编辑wiki</td>
        <td>删除wiki</td>
        <td>新增ticket</td>
        <td>编辑ticket</td>
        <td>删除ticket</td>
        <td>删除用户</td>
    </tr>

$for user in users:
    <tr>
        <td><a href="/user/edit/$user.id">$user.username</a></td>
        <td>$user.email</td>
        $if user.isadmin:
            <td>是</td>
        $else:
            <td>否</td>
        $if user.newwiki:
            <td>是</td>
        $else:
            <td>否</td>
        $if user.editwiki:
            <td>是</td>
        $else:
            <td>否</td>
        $if user.deletewiki:
            <td>是</td>
        $else:
            <td>否</td>
        $if user.newticket:
            <td>是</td>
        $else:
            <td>否</td>
        $if user.editticket:
            <td>是</td>
        $else:
            <td>否</td>
        $if user.deleteticket:
            <td>是</td>
        $else:
            <td>否</td>
        <td><a href="/user/delete/$user.id">删除</a></td>
    </tr>

</table>

