$def with (ticket, form, form2, changes)

<h3>Ticket #$ticket.id</h3>

<style type=”text/css”>

div {
    border-style: solid;
    border-width: 1px;
}

</style>

<div id='form1'>
$:form.render()
</div>

<h3>Change History</h3>
$ x = 1
$for c in changes:
    <p>
    <span>$x. Changed by $c['author'] at $c['time']<span>
    $for cc in c['comment']:
        <li><b>$cc[0]</b> changed from <i>$cc[2]</i> to <i>$cc[1]</i></li>
    $c.notes
    </p>
    $ x = x + 1


<h3>Add/Change #$ticket.id ($ticket.summary)</h3>

<form action="" method="post">
$:form2.render()
</form>
