$def with (tickets)

<style type="text/css">

div li {
    display: inline;
    padding-right: 20px;
}

table {
    width: 100%;
    border: solid 1px #666;
    border-collapse: separate;
    background-color:#DDDDDD;
    min-width:220px;
}

.striped {
    background-color: gray;
}

</style>

<script type="text/javascript" src="/static/js/jquery-1.4.4.min.js">
</script>

<script type="text/javascript">

$$(document).ready(
    function() {
        // $$("table tr:nth-child(even)").addClass("striped");
    }
);

</script>
<h2>Tickets:</h2>

<table>
    <tr>
        <td>Ticket</td>
        <td>Summary</td>
        <td>Type</td>
        <td>Priority</td>
        <td>Owner</td>
    </tr>
$for ticket in tickets:
    <tr>
        <td><a href="/ticket/edit/$ticket.id">$ticket.id</a></td>
        <td>$ticket.summary</td>
        <td>$ticket.type</td>
        <td>$ticket.priority</td>
        <td>$ticket.assignee</td>
    </tr>


</table>
